[submodule "diff-surfel-rasterization"]
	path = diff-surfel-rasterization
	url = https://github.com/hbb1/diff-surfel-rasterization.git
[submodule "submodules/diff-surfel-rasterization"]
	path = submodules/diff-surfel-rasterization
	url = https://github.com/hbb1/diff-surfel-rasterization
